<h1>Login de Usuario</h1>
<h3>Complete el formulario</h3>
<form action="/login" method="post">
  <label>Username:</label>
  <input required type="text" name="username" />
  <label>Password:</label>
  <input required type="password" name="password" />
  <button type="submit">Login !</button>
</form>
<a href="/signup">Registrarse</a>