{{#each mensajes}}
  <div>
    <span class="fw-bold text-primary">{{this.author.id}}</span>
    [<span class="text-danger">{{this.fecha}}</span>]:
    <span class="text-success fw-light fst-italic">{{this.text}}</span>
  </div>
{{/each}}