<div class="container-sm">
  <h1 class="text-primary">Vista de Productos</h1>
  <% if (elements) { %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Foto</th>
      </tr>
    </thead>
    <tbody>
      <% productsArray.forEach( (p) => { %>
      <tr>
        <th scope="row"><%= p.id %></th>
        <td><%= p.title %></td>
        <td><%= p.price %></td>
        <td><%= p.thumbnail %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <div class="alert alert-primary" role="alert">
    No se encontraron productos.
  </div>
  <% } %>
  <p class="text-end">
    <a href="/">Ir al formulario de Ingreso de Productos</a>
  </p>
</div>
