

<div class="container-sm">
    <h1 class="text-primary">Ingrese Producto</h1>
    <form action="/productos" method="POST">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input id="nombre" name="nombre" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input id="precio" name="precio" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="inputUrl" class="form-label">Foto URL</label>
            <input id="inputUrl" name="url" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>