<!DOCTYPE html>
<html lang="en">
  <%- include('./layouts/head') %>
  <body>
    <!-- prettier-ignore -->
    <% if (cargarForm) { %>
      <%- include('./layouts/formulario', { errors: tieneErrores, errorsArray: arregloErrores }) %>
    <% } else { %>
      <%- include('./layouts/datos', { elements: tieneElementos, productsArray: productos}) %>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
